<ul id="task-list" class="collection task">
    <li class="collection-item " ng-repeat="task in tasks" ng-dblclick="taskAddView('modify', task)">
		<span class="title">
			<strong>{{task.title}}</strong>
		</span>

		<a href="#!" ng-click="removeTask(task)" class="secondary-content"><i class="material-icons">close</i></a>
		<p>
			Date : {{task.date}}<br>
			Durée : {{task.duration}}<br>
			Description : {{task.description}}<br>
			Contexte : {{task.context}}<br>
			Url : <a href="{{task.url}}">{{task.url}}</a>
		</p>
    </li>
</ul>