<div class="container">
	<ul id="task-list" class="collection task">
	    <li class="collection-item " ng-repeat="task in tasks" ng-dblclick="taskAddView('modify', task)">
			<span class="title">
				<strong>{{task.title}}</strong>
			</span>

			<a href="#!" ng-click="removeTask(task)" class="secondary-content"><i class="material-icons">close</i></a>
			<p>
				Date : {{task.date}}<br>
				Durée : {{task.duration}}<br>
				Description : {{task.description}}<br>
				Contexte : {{task.context}}<br>
				Url : <a href="{{task.url}}">{{task.url}}</a>
			</p>
	    </li>
	</ul>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large red">
		<i class="large material-icons indigo" ng-click="taskAddView('add')">mode_edit</i>
	</a>
</div>